/****Mobile Layout***/

html {
    font-size:16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 75em;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap; 
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
	border-bottom: .1875em solid #77a466;
}

h2 {
	font-size: 1.125em;
	padding: .625em .25em;
}

h3 {
	font-size: .75em;
	padding: .625em .25em;
}

p {
	font-size: .875em;
	line-height: 1.3125em;
    padding: 0 1.875em;
}

/*The widths are in a percentage!*/
header {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}

header h1 {
	margin: 0;
	padding: 1.375em;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 1em;

}
header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: .8em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image img {
	width: 100%;
	border-top: .1875em solid #77a466;
	border-bottom: .1875em solid #77a466;
}

.main-title h2 {
	text-align: left;
	padding: .625em 1.5em 0 1.25em;
	color: #77a466;
}

.main-title p {
	padding: .625em 1.5em;
	font-size: 1em;
	line-height: 1.5625em;
}


.section-one,
.section-two,
.section-three {
	border-top: .0625em solid #eee;
	padding: .625em 1.5em;
	width: 100%;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: .625em .25em;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
	padding: .625em .25em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
	padding: .625em .25em;
}

/*The widths are in a percentage!*/
footer {
	border-top: .1875em solid #eee;
	padding: .625em 1.5em;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

/***Tablet Media Query***/

@media all and (min-width:768px) {
	
	/*The widths are in a percentage!*/
	
	.bottom-section {
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-flow: row wrap;
	}
	
	.section-one,
	.section-two,
	.section-three {
		border-top: .0625em solid #eee;
		padding: .625em 0 0 1.25em;
		width: 100%;
	}
}

@media only screen and (min-width: 1200px) {
	header {
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: row wrap; 
	}
	
	header h1 {
		padding: 1em 0;
		border-bottom: none; 
		text-align: left:
	  }
	
	  header nav {
		padding: 2em 0 0 25.03em;
	}
	
	header nav ul {
		margin: 0;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		flex-direction: row;
	}

	.main-title h2 {
		text-align: left;
		padding: .625em 1.5em 0 0;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: row;	
	}
	
	.main-title p {
		padding: .625em 1.5em 0 0;
		text-align: left;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: row;
	}
	
	.bottom-section {
		flex-basis: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-flow: row nowrap;
	}	
	
	.section-one,
	.section-two,
	.section-three {
		width: 33%;
	}
	
	.section-one{
		padding-left: 0;
	}
	
	.section-two {
		   border-left: .0625em solid #eee;
		   border-right: .0625em solid #eee;
	}
	
	footer {
		padding-top:.5em;
		border-top: .0625em solid #eee;
		width: 100%
	}
	
}
